<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>
 
<% if(user_has_posts?(@user)) %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% else %>
  <p><%= "#{@user.name} has not submitted any posts yet." %></p>
<% end %>

<% @favorites.each do |fav| %>
<div class="media">
  <div class="pull-left"><%= image_tag fav.post.user.avatar_url(64), class: 'media-object' %></div>
  <div class="media-body">
    <h3 class="media-heading">
      <%= link_to fav.post.title, topic_post_path(fav.post.topic, fav.post) %>
    </h3>
    <small>
      submitted <%= time_ago_in_words(fav.post.created_at) %> ago by <%= fav.post.user.name %> <br>
      <%= pluralize(fav.post.comments.count, 'comment') %>,
      <%= pluralize(fav.post.up_votes, 'up vote') %>,
      <%= pluralize(fav.post.down_votes, 'down vote') %>
    </small>
  </div>
</div>
<% end %>
